/*
 * Global Styles
 */

:root {
    --base: #121212;
    --base-dark: #000000;
    --primary: #9568D9;
    --secondary: #B067AA;
    --accent: #2d2d34;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    width: 100vw;
}

img {
    user-select: none;
}

/*
 * Simple Classes
 */

.bg-base {
    background-color: var(--base);
}

.bg-base-dark {
    background-color: var(--base-dark);
}

.text-white {
    color: white;
}

.text-2xl {
    font-size: xx-large;
}

.h-full {
    height: 100%;
}

.min-h-screen {
    min-height: 100vh;
}

.h-16 {
    height: 4rem;
}

.h-24 {
    height: 6rem;
}

.justify-between {
    justify-content: space-between;
}

.w-2\/3 {
    width: 66.6%;
}

.mr-4 {
    margin-right: 1rem;
}

.text-gray {
    color: rgba(255, 255, 255, 0.5);
}

.w-full {
    width: 100%;
}

.w-1\/5 {
    width: 20%;
}

.w-5\/6 {
    width: 83%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.p-3 {
    padding: 1.2rem;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.items-center {
    align-items: center;
}

.select-none {
    user-select: none;
}

.space-x-6 * {
    margin-left: 1.5rem;
}

.space-x-6 *:first-child {
    margin-left: 0;
}

.space-y-1 * {
    margin-top: 0.4rem;
}

.space-y-1 *:first-child {
    margin-top: 0;
}

.font-bold {
    font-weight: bold;
}

.decoration-none {
    text-decoration: none;
}

.sm\:visible {
    height: 0;
    visibility: hidden;
}

.fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.border-none {
    border: none;
}

.bg-transparent {
    background-color: transparent;
}

.mobile-nav-list li {
    width: 100vw;
    height: fit-content;
    background-color: var(--base-dark);
}

/*
 * Components
 */

#menu-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

#menu-list.open {
    max-height: 500px;
}

#menu-list.closing {
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
}


.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.3rem;
    border-radius: 0.8rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0.3rem;
}

.nav-link:hover,
.link:hover {
    color: rgba(255, 255, 255, 0.4);
}

.link {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0.3rem;
}

/*
 * Responsive Designs
 */

@media only screen and (max-width: 720px) {
    body {
        width:91vw; /* Komische Angabe, jedoch hat es bei 100vw bei mir einen horizontalen overflow gegeben */
    }

    .nav-link {
        margin-bottom: 0.3rem;
        width: 100% ;
        padding: 0.6rem;
    }

    .sm\:flex-col {
        flex-direction: column;
    }

    .sm\:hidden {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .sm\:visible {
        visibility: visible;
        height: max-content;
    }

    .sm\:space-y-6 * {
        margin-top: 0.5rem;
    }

    .sm\:space-y-6 *:first-child {
        margin-top: 0;
    }

    .sm\:w-full {
        width: 100%;
    }

    .sm\:text-center {
        text-align: center;
    }
}
